@using SportStore.ViewModels.ProductVM;
@model ProductsListViewModel

@{
    ViewData["Title"] = "Products";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products ?? Enumerable.Empty<Product>())
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.Price.ToString("c")</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Details" asp-controller="administration" asp-route-id="@product.ProductID">Details</a>
                    <a class="btn btn-success" asp-action="Edit" asp-controller="administration" asp-route-id="@product.ProductID">Edit</a>
                    <a class="btn btn-danger" asp-action="DeleteProduct" asp-controller="administration" asp-route-id="@product.ProductID">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-action="CreateProduct" asp-controller="administration">Add a product to the store</a>
</div>

