@model IEnumerable<Category>

<li>
    <a class="dropdown-item @(ViewBag.SelectedCategoryId == null ? "active" : "")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-categoryId=""
       asp-route-search="@Context.Request.Query["search"]">
        @* Keep current search if changing category *@>
        All Categories
    </a>
</li>
<li><hr class="dropdown-divider"></li>

@foreach (var category in Model)
{
    <li>
        <a class="dropdown-item @(category.CategoryId == (long?)ViewBag.SelectedCategoryId ? "active" : "")"
           asp-action="Index"
           asp-controller="Home"
           asp-route-categoryId="@category.CategoryId"
           asp-route-productPage="1"
           asp-route-search="@Context.Request.Query["search"]">
            @category.Name
        </a>
    </li>
}