@model Product

@{
    var photoPath = "~/images/" + Model.PhotoPath;
    var returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}";

}

<div class="card card-outline-primary m-1 p-3 d-flex flex-column">
    <div class="row">
        <div class="col-md-4 col-lg-3 p-1">
            <img src="@photoPath" alt="@Model.Name" class=" imageThumbnail img-fluid rounded" asp-append-version="true">
        </div>

        <div class="col-md-8 col-lg-9 p-3 d-flex flex-column justify-content-between">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                    <h4>@Model.Name</h4>
                </div>
                <span class="badge rounded-pill bg-primary text-white font-weight-bold" style="font-size: 1.2rem;">
                    <small>@Model.Price.ToString("c")</small>
                </span>
            </div>

            <div class="card-text mb-3">
                <p>@Model.Description</p>
            </div>

            <div class="align-self-end">
                <form method="post" asp-controller="cart" asp-action="AddToCart">
                    <input type="hidden" asp-for="ProductID" />
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    <button type="submit" class="btn btn-success btn-sm">Add To Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>


